body {
    text-align: center;
    background-image: url("../images/anime.jpg");
    background-size: 100% 1080px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.gamecontainer {
    background: rgb(53, 53, 61);
    opacity: .9;
    margin: 100px auto;
    padding: 25px;
    border-radius: 25px;
}

.all {
    margin: 10px;
}

.newgame {
    background: orange;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 9px rgb(163, 172, 173);
    font-size: 32px;
}

.newgame:active {
    background-color: rgb(53, 53, 61);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.answer {
    background: orange;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 9px rgb(163, 172, 173);
    font-size: 32px;
}

.answer:active {
    background-color: rgb(53, 53, 61);
    box-shadow: #666;
    transform: translateY(4px);
}

.question {
    color: white;
    font-size: 44px;
}

.title {
    font-size: 62px;
    color: orange;
    margin: 0 auto;
    font-weight: bolder;
}

#score-text {
    color: #13b921;
    font-size: 32px;
}

#wrong-text {
    font-size: 32px;
    color: #ff2306;
}

.directions {
    font-size: 44px;
}

#timer-text {
    font-size: 36px;
}

.popup {
    font-size: 44px;
    margin-top: 50px;
}